In [1]:
"""
Author
Johan Tejning  - jote16@student.bth.se
Tokunbo Ojo    -  tooj21@student.bth.se
"""

'\nAuthor\nJohan Tejning  - jote16@student.bth.se\nTokunbo Ojo    -  tooj21@student.bth.se\n'

In [105]:
#Import libraries
from scipy import stats
import pandas as pd
import numpy as np
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import f1_score, accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import time

In [106]:
#Read spambase.data into pandas dataframe
df = pd.read_csv('spambase.data',header = None)
df

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [109]:
# split time serie into train and test
x = df.iloc[:, 0:57]
y = df[57]
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.0,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40

In [110]:
# create discretizer for Equal Width Discretizer
kbins = KBinsDiscretizer(n_bins=2, strategy='uniform', encode='ordinal')

In [113]:
# Equal-Width Discretization implementation
def descretize(data):
    frames = []
    for i in range(0,57):
        bin = kbins.fit_transform(np.array(data.iloc[:, i:i + 1]).reshape(-1,1))
        frames.append(pd.DataFrame(bin, columns=[str(i)]))
    return pd.concat(frames, axis=1)
X_train = descretize(X_train)
X_test = descretize(X_test)
X_train
X_train[X_train['2'] == 1]

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
91,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
345,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
870,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1120,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1200,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1312,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1315,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1317,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1744,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2077,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2271,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2345,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2407,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2485,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2486,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2668,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2775,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3072,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3228,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3248,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3444,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3475,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [104]:
names = [
    "Nearest Neighbors",
    "Linear SVM",
   # "Decision Tree",
   # "Random Forest",
    "Naive Bayes"
]

classifiers = [
    KNeighborsClassifier(3),
    SVC(kernel="linear", C=0.025),
  #  DecisionTreeClassifier(max_depth=5),
  #  RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    GaussianNB()
]

In [124]:
# iterate over classifiers
fold = KFold(n_splits=10, random_state=1, shuffle=True)
performance = []
accuracy = []
f_measure = []
evaluation_measure = {}
cross_validation_result = {}
for name, clf in zip(names, classifiers):
    start = time.time()
    clf.fit(X_train, y_train)
    end = time.time()
    performance.append(end - start)
    evaluation_measure["Training Time"] = performance
    #score = clf.score(X_test, y_test)
    y_pred = clf.predict(X_test) # make predictions on test set
    acc = accuracy_score(y_test.values, y_pred)
    accuracy.append(acc)
    evaluation_measure["Accuracy"] = accuracy
    f_score = f1_score(y_test.values, y_pred)
    f_measure.append(f_score)
    evaluation_measure["F Measure"] = f_measure
    cross_validation_result[name] = cross_val_score(clf, x, y, scoring='accuracy', cv=fold , n_jobs=-1)

In [120]:
#1) computational performance in terms of training time,
performance

[0.00500798225402832, 0.8460171222686768, 0.003992795944213867]

In [121]:
#) predictive performance based on accuracy,
accuracy

[0.5385450597176982, 0.5841476655808904, 0.505971769815418]

In [122]:
#3) predictive performance based on F-measure.
f_measure

[0.6188340807174887, 0.0, 0.6101113967437874]

In [123]:
pd.DataFrame.from_dict(evaluation_measure, orient='index',
                       columns=names)

               Nearest Neighbors  Linear SVM  Naive Bayes
Training Time           0.005008    0.846017     0.003993
Accuracy                0.538545    0.584148     0.505972
F Measure               0.618834    0.000000     0.610111

In [125]:
cross_validation_result

{'Nearest Neighbors': array([0.79392625, 0.8173913 , 0.81521739, 0.80434783, 0.81304348,
        0.7826087 , 0.8173913 , 0.83695652, 0.79565217, 0.82608696]),
 'Linear SVM': array([0.9154013 , 0.92608696, 0.91956522, 0.91956522, 0.93043478,
        0.89782609, 0.92173913, 0.91086957, 0.93043478, 0.93913043]),
 'Naive Bayes': array([0.81561822, 0.80434783, 0.84565217, 0.83913043, 0.79130435,
        0.79347826, 0.82826087, 0.85      , 0.80217391, 0.84347826])}

In [143]:
cross_validation_df = pd.DataFrame.from_dict(cross_validation_result)
cross_validation_df

   Nearest Neighbors  Linear SVM  Naive Bayes
0           0.793926    0.915401     0.815618
1           0.817391    0.926087     0.804348
2           0.815217    0.919565     0.845652
3           0.804348    0.919565     0.839130
4           0.813043    0.930435     0.791304
5           0.782609    0.897826     0.793478
6           0.817391    0.921739     0.828261
7           0.836957    0.910870     0.850000
8           0.795652    0.930435     0.802174
9           0.826087    0.939130     0.843478

In [151]:
rank1 = []
rank2 = []
rank3 = []
for index, row in cross_validation_df.iterrows():
    temp = row.copy()
    sorted = np.sort(temp.values)
    rank1.append(sorted.tolist().index(row[0]) + 1)
    rank2.append(sorted.tolist().index(row[1]) + 1)
    rank3.append(sorted.tolist().index(row[2]) + 1)

In [158]:
result = {}
result["Nearest Neighbors"] = rank1
result["Linear SVM"] = rank2
result["Naive Bayes"] = rank3
ranking_df = pd.DataFrame.from_dict(result)
ranking_df

   Nearest Neighbors  Linear SVM  Naive Bayes
0                  1           3            2
1                  2           3            1
2                  1           3            2
3                  1           3            2
4                  2           3            1
5                  1           3            2
6                  1           3            2
7                  1           3            2
8                  1           3            2
9                  1           3            2

In [174]:
average = ranking_df.mean(axis=0)
average

Nearest Neighbors    1.2
Linear SVM           3.0
Naive Bayes          1.8
dtype: float64

In [177]:
sum = 0
for x in average.values:
    sum = sum + (x - 2) ** 2
sum_of_squared_differences_1 = 10 * sum
sum_of_squared_differences_1

16.8

In [178]:
summation = 0
for index, row in ranking_df.iterrows():
    summation = summation + ((row[0] - 2) ** 2) + ((row[1] - 2) ** 2) + ((row[2] - 2) ** 2)
sum_of_squared_differences_2 = summation * 0.05
sum_of_squared_differences_2

1.0